<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 39.4px;">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml"
    href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>TC</title>
  <link rel="stylesheet" href="/Tclottery/assets/css/modules-96f5a6e8.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/page-activity-871556fb.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/page-home-0d70abbb.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/index-08abe1f5.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/page-login-1f545390.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/page-main-8cf260fb.css">
  <link rel="stylesheet" href="/Promotion/page-promotion-24bf6ab6.css">
  <link rel="stylesheet" href="/Tclottery/assets/css/index-053c656b.css">
</head>
<style>
  .container .info_content[data-v-ab64ca5b] {
    display: -webkit-box;
    display:
      -webkit-flex;
    display: flex;
    width: 9.33333rem;
    height: 4rem;
    background-color:
      #fff;
    border-radius: .26667rem;
    overflow: hidden;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    box-shadow: 0 .10667rem .21333rem #d0d0ed5c;
  }
</style>

<body style="font-size: 12px;">
  <div id="app" data-v-app="">
    <!---->
    <!---->
    <div data-v-4c21fa9e="" data-v-1159d77b="" class="navbar" style="--36a344b0: 'Roboto', 'Inter', sans-serif;">
      <div data-v-4c21fa9e="" class="navbar-fixed" style="background: linear-gradient(90deg,#72C1FF 0%,#4A77FC 100%);">
        <div data-v-4c21fa9e="" class="navbar__content">
          <div data-v-4c21fa9e="" class="navbar__content-left">
            <!---->
          </div>
          <div data-v-4c21fa9e="" class="navbar__content-center">
            <!---->
            <div data-v-4c21fa9e="" class="navbar__content-title">
              Agency
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-v-ab64ca5b="" data-v-1159d77b="" class="container" style="--36a344b0: 'Roboto', 'Inter', sans-serif;">
      <div data-v-ab64ca5b="" class="amount" id="yesterday_total_commission">
        ₹0
      </div>
      <div data-v-ab64ca5b="" class="amount_txt">
        Yesterday's total commission
      </div>
      <div data-v-ab64ca5b="" class="tip">
        6 level commission income is available
      </div>
      <div data-v-ab64ca5b="" class="info_content">
        <div data-v-ab64ca5b="" class="info">
          <div data-v-ab64ca5b="" class="head">
            Direct subordinates
          </div>
          <div data-v-ab64ca5b="" class="line1">
            <div data-v-ab64ca5b="" id="direct_subordinates">
              0
            </div>
            Number Of Direct Subordinates
          </div>
          <div data-v-ab64ca5b="" class="line2">
            <div data-v-ab64ca5b="" id="total_invites">
              0
            </div>
            Today’s Total Invites
          </div>
          <div data-v-ab64ca5b="" class="line3" style="display:none;">
            <div data-v-ab64ca5b="">
              0
            </div>
            Deposit amount
          </div>
        </div>
        <div data-v-ab64ca5b="" class="info">
          <div data-v-ab64ca5b="" class="head u2">
            Team subordinates
          </div>
          <div data-v-ab64ca5b="" class="line1">
            <div data-v-ab64ca5b="" id="total_teams">
              0
            </div>
            Total Number Of Teams
          </div>
          <div data-v-ab64ca5b="" class="line2">
            <div data-v-ab64ca5b="" onclick="apply(this)" id="total_commission_received">
              ₹0
            </div>
            Tap to claim commission Bonus
          </div>
          <div data-v-ab64ca5b="" class="line3" style="display:none;">
            <div data-v-ab64ca5b="">
              0
            </div>
            Deposit amount
          </div>
        </div>
      </div>
    </div>

    <div data-v-1159d77b="" class="content" style="--36a344b0: 'Roboto', 'Inter', sans-serif;">
      <div data-v-1159d77b="" class="shareBtnContainer">
        <div class="col-12 mt-2" id="mylink" style="display:none;">
          https://9987co.in/register?r_code=<span id="invitationCode">fKSlw93020</span>
        </div>
        <button onclick="copyToClipboard()" data-v-1159d77b="" class="shareBtn">
          INVITATION LINK
        </button>
      </div>
      <div data-v-1159d77b="" class="promote__cell">
        <div data-v-1159d77b="" class="promote__cell-item" onclick="copyInvitationCode()">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/team_port.png" alt="">
            <div class="col-12 mt-2" id="mycode" style="display:none;">
              <span id="invitationCode3"></span>
            </div>
            <span data-v-1159d77b="">
              Copy invitation code
            </span>
          </div>
          <div data-v-1159d77b="" class="arrow">
            <span data-v-1159d77b="">
              <span id="invitationCode2"></span>
            </span>
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
        <div data-v-1159d77b="" onclick="window.location.href='/promotion/myTeam'" class="promote__cell-item">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/copy_code.png" alt="">
            <span data-v-1159d77b="">
              Subordinate data
            </span>
          </div>
          <div data-v-1159d77b="" class="arrow">
            <!---->
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
        <div data-v-1159d77b="" onclick="window.location.href='/teamdata'" class="promote__cell-item">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/copy_code.png" alt="">
            <span data-v-1159d77b="">
              Team data
            </span>
          </div>
          <div data-v-1159d77b="" class="arrow">
            <!---->
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
        <div data-v-1159d77b="" onclick="window.location.href='/commissiondetails'" class="promote__cell-item">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/commission.png" alt="">
            <span data-v-1159d77b="">
              Commission detail
            </span>
          </div>
          <div id="snackbar" class="van-toast van-toast--middle van-toast--text" style="z-index: 2009;display:none ">
            <div class="van-toast__text">
              OTP SENT
            </div>
          </div>
          <style>
            .van-toast {
              position: fixed;
              top: 50%;
              left: 50%;
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction:
                normal;
              -webkit-flex-direction: column;
              flex-direction: column;
              -webkit-box-align:
                center;
              -webkit-align-items: center;
              align-items: center;
              -webkit-box-pack:
                center;
              -webkit-justify-content: center;
              justify-content: center;
              box-sizing:
                content-box;
              width: 88px;
              max-width: 70%;
              min-height: 88px;
              padding: 16px;
              color: #fff;
              font-size: 14px;
              line-height: 20px;
              white-space: pre-wrap;
              text-align: center;
              word-wrap: break-word;
              background-color: rgba(50, 50,
                  51, .88);
              border-radius: 0px;
              -webkit-transform: translate3d(-50%, -50%,
                  0);
              transform: translate3d(-50%, -50%, 0);
            }

            .van-toast--html,
            .van-toast--text {
              width: -webkit-fit-content;
              width: fit-content;
              min-width: 96px;
              min-height:
                0;
              padding: 10px 30px;
            }
          </style>
          <div data-v-1159d77b="" class="arrow">
            <!---->
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
        <div data-v-1159d77b="" onclick="window.location.href='/promotion/tutorial'" class="promote__cell-item">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/rule.png" alt="">
            <span data-v-1159d77b="">
              Invitation rules
            </span>
          </div>
          <div data-v-1159d77b="" class="arrow">
            <!---->
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
        <div data-v-1159d77b="" onclick="window.location.href='/keFuMenu#';" class="promote__cell-item"
          style="display:;">
          <div data-v-1159d77b="" class="label">
            <img data-v-1159d77b="" src="/Bluepng/server.png" alt="">
            <span data-v-1159d77b="">
              Agent line customer service
            </span>
          </div>
          <div data-v-1159d77b="" class="arrow">
            <!---->
            <img data-v-1159d77b=""
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABmZmZkZGRmZmZ0zVwQAAAAA3RSTlMA3yDHuD3GAAAANUlEQVQoz2MYhIC1AYnDnoDE4byBxGEqQ9Y0F1mTOk01YXAQyjANQBiNsJRGWtgTUANxMAIAk88RuZxQh1MAAAAASUVORK5CYII="
              alt="">
          </div>
        </div>
      </div>
      <div data-v-1159d77b="" class="commission">
        <div data-v-1159d77b="" class="commission__title">
          <i data-v-1159d77b="" class="van-badge__wrapper van-icon">
            <!---->
            <img class="van-icon__image" src="/Bluepng/money.png">
            <!---->
          </i>
          <span data-v-1159d77b="">
            promotion data
          </span>
        </div>
        <div data-v-1159d77b="" class="commission__body" id="this_week_commission">
          <div data-v-1159d77b="">
            <span data-v-1159d77b="">
              0
            </span>
            <span data-v-1159d77b="">
              This Week
            </span>
          </div>
          <span data-v-1159d77b="">
          </span>
          <div data-v-1159d77b="">
            <span data-v-1159d77b="" id="total_commission_week">
              0.00
            </span>
            <span data-v-1159d77b="">
              Total commission
            </span>
          </div>
        </div>
        <div data-v-1159d77b="" class="commission__body" id="direct_subordinate_info">
          <div data-v-1159d77b="">
            <span data-v-1159d77b="" id="direct_subordinate_commission">
              0.00
            </span>
            <span data-v-1159d77b="">
              direct subordinate
            </span>
          </div>
          <span data-v-1159d77b="">
          </span>
          <div data-v-1159d77b="">
            <span data-v-1159d77b="" id="total_subordinate_team">
              0
            </span>
            <span data-v-1159d77b="">
              Total number of subordinates in the team
            </span>
          </div>
        </div>
      <div class="customer" id="customerId" style="--36a344b0: 'Roboto', 'Inter', sans-serif; --17a7a9f6: bahnschrift;">
        <img class="" onclick="window.location.href='/keFuMenu#/';" 
        src="/Tclottery/assets/png/icon_sevice-6273af5a.png"
        src="/Tclottery/assets/png/icon_sevice-6273af5a.png">
      </div>


      <div data-v-6730d638="" class="tabbar__container" style="--80613dcc: 'Roboto', 'Inter', sans-serif;">
        <div data-v-6730d638="" onclick="window.location.href='/home'" class="tabbar__container-item">
          <div data-v-6730d638="" class="home">Home</div>
        </div>
        <div data-v-6730d638="" onclick="window.location.href='/CheckIn'" class="tabbar__container-item">
          <div data-v-6730d638="" class="activity">Activity</div>
        </div>
        <div data-v-6730d638="" class="tabbar__container-item active">
          <div data-v-6730d638="" onclick="window.location.href='/promotion'" class="promotion">Promotion</div>
        </div>
        <div data-v-6730d638="" onclick="window.location.href='/wallet'" class="tabbar__container-item">
          <div data-v-6730d638="" class="wallet">Wallet</div>
        </div>
        <div data-v-6730d638="" onclick="window.location.href='/mian'" class="tabbar__container-item">
          <div data-v-6730d638="" class="main">Account</div>
        </div>
      </div>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>

       var c_amt = 0;
      function copyToClipboard(id) {
        var inputc = document.body.appendChild(document.createElement("input"));
        inputc.value = id.innerHTML;
        inputc.focus();
        inputc.select();
        document.execCommand('copy');
        inputc.parentNode.removeChild(inputc);
        document.getElementById("snackbar").innerHTML = "copy success";
        document.getElementById("snackbar").style.display = "";
        setTimeout(function () {
          document.getElementById("snackbar").style.display = "none";
        },
          3000);
      }

      function l1() {
        document.getElementById("level1").style.display = "";
        document.getElementById("level2").style.display = "none";
        document.getElementById("bl1").style.borderColor = "rgb(252, 39, 121)";
        document.getElementById("tl1").style.color = "rgb(252, 39, 121)";
        document.getElementById("bl2").style.borderColor = "transparent";
        document.getElementById("tl2").style.color = "rgb(0, 0, 0)";
      }

      function l2() {
        document.getElementById("level1").style.display = "none";
        document.getElementById("level2").style.display = "";
        document.getElementById("bl1").style.borderColor = "transparent";
        document.getElementById("tl1").style.color = "rgb(0, 0, 0)";
        document.getElementById("bl2").style.borderColor = "rgb(252, 39, 121)";
        document.getElementById("tl2").style.color = "rgb(252, 39, 121)";
      }

      function apply(obj) {
        if (0 > 0) {
          console.log("applied");
          window.location.href = 'apply';
        } else {

          $.ajax({
            type: "POST",
            url: "/api/promotion/collectCommision",
            data: {},
            dataType: "json",
            success: function (response) {
              $('#total_commission_received').text('₹0')
              $('#yesterday_total_commission').text('₹0');

            },
            error: function (xhr, status, error) {
              console.error("Error fetching promotion data:", error);
              // Handle error here
            }
          });



          document.getElementById("snackbar").innerHTML = "Commission Recived Successfully !";
          document.getElementById("snackbar").style.display = "";
          setTimeout(function () {
            document.getElementById("snackbar").style.display = "none";
          },
            3000);
        }
      }

      $.ajax({
        type: "POST",
        url: "/api/webapi/promotion",
        data: {},
        dataType: "json",
        success: function (response) {
          // Update yesterday's total commission
          $('#yesterday_total_commission').text('₹' + response.info[0].roses_f);

          // Update number of direct subordinates
          $('#direct_subordinates').text(response.invite.f1);

          // Update today's total invites
          $('#total_invites').text(response.invite.f_all_today);

          // Update total number of teams
          $('#total_teams').text(response.invite.total_f);

          // Update total commission received
          $('#total_commission_received').text('₹' + response.invite.roses_f);
          c_amt = response.invite.roses_f;


          // Update this week's commission
          $('#total_commission_week').text('₹' + response.info[0].roses_f);

          // Update direct subordinate's commission
          $('#direct_subordinate_commission').text(response.invite.f1.toFixed(0));

          // Update total number of subordinates in the team
          $('#total_subordinate_team').text(response.invite.total_f);
        }
      });

      $(document).ready(function () {
        $.ajax({
          type: "POST",
          url: "/api/webapi/promotion",
          data: {},
          dataType: "json",
          success: function (response) {
            var invitationCode = response.info[0].code;
            $('#invitationCode').text(invitationCode);

            var invitationCode2 = response.info[0].code;
            $('#invitationCode2').text(invitationCode2);

          },
          error: function (xhr, status, error) {
            console.error("Error fetching promotion data:", error);
            // Handle error here
          }
        });

      });

      function copyToClipboard() {
        var copyText = document.getElementById("mylink");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        // Create a popup element
        var popup = document.createElement("div");
        popup.textContent = "Copied successfully!";
        popup.style.position = "fixed";
        popup.style.bottom = "10px";
        popup.style.left = "50%";
        popup.style.transform = "translateX(-50%)";
        popup.style.backgroundColor = "#4CAF50";
        popup.style.color = "white";
        popup.style.padding = "10px 20px";
        popup.style.borderRadius = "5px";
        popup.style.zIndex = "9999";
        document.body.appendChild(popup);

        // Remove the popup after 2 seconds
        setTimeout(function () {
          document.body.removeChild(popup);
        }, 2000);
      }

      function copyInvitationCode() {
        var invitationCode = document.getElementById("invitationCode").textContent;
        var textArea = document.createElement("textarea");
        textArea.value = invitationCode;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        // Create a popup element
        var popup = document.createElement("div");
        popup.textContent = "Invitation code copied successfully!";
        popup.style.position = "fixed";
        popup.style.bottom = "10px";
        popup.style.left = "50%";
        popup.style.transform = "translateX(-50%)";
        popup.style.backgroundColor = "#4CAF50";
        popup.style.color = "white";
        popup.style.padding = "10px 20px";
        popup.style.borderRadius = "5px";
        popup.style.zIndex = "9999";
        document.body.appendChild(popup);

        // Remove the popup after 2 seconds
        setTimeout(function () {
          document.body.removeChild(popup);
        }, 2000);
      }

      document.addEventListener('contextmenu', (e) => e.preventDefault());

      function ctrlShiftKey(e, keyCode) {
        return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
      }

      document.onkeydown = (e) => {
        // Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U
        if (
          event.keyCode === 123 ||
          ctrlShiftKey(e, 'I') ||
          ctrlShiftKey(e, 'J') ||
          ctrlShiftKey(e, 'C') ||
          (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
        )
          return false;
      };

    </script>
</body>

</html>