<style>
.van-button--default{
    background-color:#FB5B5B
    }

.van-button--default{
color:#fff;font-weight: 900;
}

.game-betting .tab .box .item.action{
background:linear-gradient(180deg, #4a79fb 0%, #4b7afb 100%)
}

.game-betting .tab .box .item.action .txt[data-v-42f27458]{
color:#fff
}

</style>






<div data-v-a9660e98="" class="game-head">
        <div data-v-a9660e98="" class="total-box">
          <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="num">
                <!----><span data-v-42f27458="" id="money_show">₹ Loding... </span>
              </div>
              <img data-v-a9660e98="" style="width: 20px; height: 20px;margin-left:12px;"
                onclick="alertMess('Refresh Successfully', this, 'success')"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAOVBMVEUAAACjo6OgoKCjo6OhoaGjo6Ofn5+np6ejo6Ojo6OlpaWioqKkpKSjo6Ojo6Ojo6Ojo6OkpKSjo6PuE3LfAAAAEnRSTlMAf0C/H98QIM/vMGCfj29Qr1+b1SuLAAAA4UlEQVQ4y+3Sy3aEIBBF0eJR8hCx+/7/x8amdCVCZYUMetZnpm4BBfr05hbblX+lEX2pBJ1uUDKTK1ojUGgyA2z/sHmcbVetG4YNDHBQaEXqxjykbj3gbzceSIdUbUcN8ARyQlz+oBUwHqC7dTF8000ehISNXpQsflh5T6gBrHw8L0JpBR6nlDmE7ucOZ7CnRsVe9AVio4GvAexCjcqFPaG8Vw6a27RXQrvEAg7sh189VNHa7/sFWP24AEY5F0qri3VcVwo0GYNnbU7g56xlgIvp0mfyBWNMer4W11Xp03v7Att9D7xKb3uAAAAAAElFTkSuQmCC">
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="m-r-10">
                <div data-v-a9660e98="" class="van-image" style="width: 20px; height: 20px">
                  <img
                    src="https://www.9987up.co/assets/png/wallet-3f0340b6.png"
                    class="van-image__img wallimg" />
                </div>
              </div>
              <div data-v-a9660e98="">
                <span>Wallet</span>
                <span>Balance</span>

              </div>
            </div>

          </div>
          <div data-v-a9660e98="" class="total-btn c-row c-row-between" style="margin-top: 17px;">
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
              <button data-v-a9660e98="" "
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Withdraw
                  </span>
                </div>
              </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
              <button data-v-a9660e98=""
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round" 
                style="color: rgb(255, 255, 255);background: #18B660;">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Deposit
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
        </div>