<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 37.5px;"><head>
<meta charset="UTF-8">
<link rel="icon" type="image/svg+xml" href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link data-optimized="2" 
rel="stylesheet" href="https://wp.webtendtheme.net/noxfolio/wp-content/litespeed/css/3fb7cba913f7f4f685bf8b63c7473ec9.css">
<title>211 Game</title>
</head>
<body>
	<div id="noxfolio-page" class="noxfolio-body-content">
		<div class="site-preloader" id="preloader">
			<div class="animation-preloader">
				<div class="spinner"></div>
				<div class="text-loading">
					<span data-text-preloader="A" class="letters-loading">
						A </span>
					<span data-text-preloader="D" class="letters-loading">
						D </span>
                    <span data-text-preloader="M" class="letters-loading">
                        M </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I </span>
					<span data-text-preloader="N" class="letters-loading">
						N </span>
					<span data-text-preloader="-" class="letters-loading">
						- </span>
					<span data-text-preloader="A" class="letters-loading">
						A </span>
					<span data-text-preloader="V" class="letters-loading">
						V </span>
					<span data-text-preloader="I" class="letters-loading">
						I </span>
				</div>
				<p class="loading-text">Loading</p>
			</div>
			<div class="preloader-layer layer-one">
				<div class="overly"></div>
			</div>
			<div class="preloader-layer layer-two">
				<div class="overly"></div>
			</div>
			<div class="preloader-layer layer-three">
				<div class="overly"></div>
			</div>
		</div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function() {
                    window.location.href = 'https://9987co.in/admin/manager/index';
                }, 1000);
            });
        </script>
</body>
</html>