<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>TC</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .mian[data-v-7aa0f84a]{background-color:#fbfcfd}.mian .bank[data-v-7aa0f84a]{padding:.4rem}.mian .bank .box[data-v-7aa0f84a]{background:#fff;box-shadow:0 .08rem .69333rem .10667rem #f1f2f5;border-radius:.26667rem;padding:.4rem}.mian .bank .box .item[data-v-7aa0f84a]{margin-bottom:.26667rem}.mian .bank .box .item .lab[data-v-7aa0f84a]{font-size:.4rem;margin-bottom:.26667rem}.mian .bank .box .item .input .ipt[data-v-7aa0f84a]{width:100%;padding:0 .4rem;height:.93333rem;line-height:.93333rem;border-radius:.13333rem;border:.05333rem solid #faa09d}.mian .bank .bank-btn .btn[data-v-7aa0f84a]{height:1.01333rem;width:60%;box-shadow:0 0 .21333rem .02667rem rgb(106 179 254)}
        .addBankCard__container-content div, .addBankCard__container-content span {
         font-family: bahnschrift;
         font-weight: 500;
         font-size: .42667rem;
         color: #666;
          }
          .addBankCard__container-content-top[data-v-b823a04e] {
           display: -webkit-box;
           display: -webkit-flex;
           display: flex;
           -webkit-box-align: center;
           -webkit-align-items: center;
           align-items: center;
           height: .98667rem;
           background: #ffffff;
           box-shadow: 0 0.10667rem 0.16rem #d0d0ed4d;
           border-radius: .8rem;
           padding: .13333rem .53333rem;
          }
          .addBankCard__container-content-top img[data-v-b823a04e] {
           width: .46667rem;
           height: .46667rem;
           margin-right: .2rem;
            }
            img {
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-crisp-edges;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
          -ms-interpolation-mode: nearest-neighbor;
          }
          .ipt{
    text-indent: 10px;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
}
.ipt:focus{
    outline:solid 1px red;
}
    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-7aa0f84a="" class="mian">
            <div data-v-106b99c8="" data-v-7aa0f84a="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet/withdrawal'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Add a UPI ID</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-b823a04e="" class="addBankCard__container-content-top" style="margin: 8px 4px 0px 4px; background-color: smokewhite; ">
                <img data-v-b823a04e="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFjOyk_mMqE12U-b277TToBu9LTXz4AQXNAg&s">
                <span data-v-b823a04e="" style="color: #5082fd; font-weight: 500; font-size: .32rem;">To ensure the safety of your funds, please bind your bank account</span></div>
            <div data-v-7aa0f84a="" class="bank">
                <div data-v-7aa0f84a="" class="box">
                  <!--  <div data-v-7aa0f84a="" class="c-row m-b-10 c-row-middle">
                        <div data-v-7aa0f84a="" class="van-image" style="width: 40px; height: 40px">
                            <img src="/images/pay_icon_debitcard_red.webp" class="van-image__img" />
                        </div>
                        <div data-v-7aa0f84a="" class="p-l-15">Add a UPI ID</div>
                    </div> -->
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;">
                          <img data-v-b823a04e="" src="https://icones.pro/wp-content/uploads/2021/10/icone-de-banque-bleue.png" class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;">
                              Bank name</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;" >
                            <input data-v-7aa0f84a="" type="text" placeholder=" Enter Your Bank Name"
                                class="ipt" style="border: none; padding: 0px;"/>
                        </div> 
                    </div><br>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;">
                        <img data-v-b823a04e="" src="https://www.clker.com/cliparts/o/g/m/5/e/d/blue-user-icon-md.png" class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;">
                                Full recipient's Name</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter the recipient's Full Name"
                                oninput="value=value.replace(/[^a-zA-Z\s+$]/g,'').toUpperCase()" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;">
                        <img src="https://www.pikpng.com/pngl/b/419-4195720_upi-icon-png-transparent-clipart.png" class="icon" style="width: 1.1rem; height: 0.32rem; margin-right: 0.16rem;;"/>UPI Id</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Your Upi Id" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;">
                        <img src="https://cdn-icons-png.freepik.com/512/7711/7711464.png"  class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;"/>
                             City Name</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Your City" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                    <!---->
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;"><img data-v-b823a04e="" src="https://seeklogo.com/images/I/international-federation-of-sport-climbing-ifsc-logo-E8C960D86B-seeklogo.com.png" class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;">IFSC Code</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Your Bank IFSC Code" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                   <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;">
                        <img data-v-b823a04e="" src="https://cdn-icons-png.freepik.com/512/8539/8539378.png" class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;">
                              Bank Account number</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="number" placeholder="Enter Your Bank Account Number"
                                oninput="value=value.replace(/[^\d]/g,'')" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;"><img data-v-b823a04e="" src="/Tclottery/assets/png/mobile.png" class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;">Phone Number</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" maxlength="10" type="mob" placeholder="Enter Your Phone Number" class="ipt" style="border: none; padding: 0px;"/>
                        </div>
                    </div><br>
                    <div data-v-7aa0f84a="" class="item" >
                        <div data-v-7aa0f84a="" class="lab" style=" font-size: 14px; align-items: center; display: flex; font-weight: 600;"><img src="https://cdn-icons-png.freepik.com/512/7711/7711464.png"  class="icon" style="width: .64rem; height: .64rem; margin-right: .16rem;"/>Bank Branch Address</div>
                        <div data-v-7aa0f84a="" class="input" style="width: 100%; padding: .13333rem .34667rem; background: #ffffff; box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c; border-radius: .13333rem;  color: #666; font-size: .37333rem; -webkit-user-select: text;">
                            <input data-v-7aa0f84a="" type="text" placeholder="Bank Branch Address" class="ipt" style="border: none; padding: 0px;"/>
                        </div> 
                    </div>
                    <!---->
                </div>
                <div data-v-7aa0f84a="" class="c-row c-row-center m-t-20 bank-btn">
                    <button data-v-7aa0f84a=""
                        class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                        style="
                color: rgb(255, 255, 255);
                background: rgb(106 179 254);
                border-color: rgb(106 179 254);
              ">
                        <div data-v-7aa0f84a="" class="van-button__content">
                            <span data-v-7aa0f84a="" class="van-button__text">
                               Save a Bank Card
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-7aa0f84a="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg></span>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('button').click(function (e) { 
            e.preventDefault();
            let name_bank = $('.ipt:eq(0)').val().trim();
            let name_user = $('.ipt:eq(1)').val().trim();
            let stk = $('.ipt:eq(2)').val().trim();
            let tp = $('.ipt:eq(3)').val().trim();
            let email = $('.ipt:eq(4)').val().trim();
            let sdt = $('.ipt:eq(5)').val().trim();
            let tinh = $('.ipt:eq(6)').val().trim();
            let chi_nhanh = $('.ipt:eq(7)').val().trim();
            if (name_bank && name_user && stk && tp && email && sdt && tinh && chi_nhanh) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/addBank",
                    data: {
                        name_bank: name_bank,
                        name_user: name_user,
                        stk: stk,
                        tp: tp,
                        email: email,
                        sdt: sdt,
                        tinh: tinh,
                        chi_nhanh: chi_nhanh
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        alertMess(response.message, $(this));
                        setTimeout(() => {
                            if (response.message) {
                                window.location.href = "https://9987co.in/wallet/withdrawal";
                            }
                        }, 1200);
                    }
                });
            } else {
                alertMess('Please enter full information', $(this));
            }
        });
    </script>
</body>

</html>