

<html lang="en" translate="no" data-dpr="1" style="font-size: 33.01px;"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <title>TC</title>
    <link rel="shortcut icon" href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg" type="image/x-icon">
    <link rel="stylesheet" href="/Withdrawrecord/assets/indexh.css">
    <link rel="manifest">
    <script type="module" crossorigin="" src="/Depositerecord/assets/js/index-4c1dbe57.js.download"></script>
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-939f6668.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/DiaLogOther-99c68903.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-cb111aa4.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/Dialog-42739d2b.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-40441fd9.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-ad1c1ca6.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-0b373a5c.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/List-3eba46d4.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/CountDownTimer-b82553eb.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/NavBar-cbe57590.css">
    <link rel="stylesheet" href="/Depositerecord/assets/css/index-44b5263c.css">
<style>
    .msg[data-v-1dcba851] {
        max-width: 12.8rem;
        width: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100000
    }

    .msg .msg-content[data-v-1dcba851] {
        position: relative;
        padding: .32rem .66667rem;
        text-align: center;
        line-height: .64rem;
        word-break: break-all;
        overflow: hidden;
        font-size: .37333rem;
        color: #fff;
        background-color: rgba(0, 0, 0, .8)
    }

    .v-enter[data-v-1dcba851],
    .v-leave-to[data-v-1dcba851] {
        opacity: 0
    }

    .v-enter-active[data-v-1dcba851] {
        transition: opacity .5s;
        animation: bounce-in-data-v-1dcba851 .5s
    }

    .v-leave-active[data-v-1dcba851] {
        transition: opacity .3s;
        animation: bounce-in-data-v-1dcba851 .5s reverse
    }

    @keyframes bounce-in-data-v-1dcba851 {
        0% {
            transform: scale(.4)
        }

        50% {
            transform: scale(1.03)
        }

        to {
            transform: scale(1)
        }
    }
</style></head>


<body class="" style="font-size: 12px;">
    <div id="app" class="light-bg" data-v-app="">
        <div data-v-3e34c735="" class="rechargeh__container">
            <div data-v-de39c3b8="" data-v-3e34c735="" class="navbar">
                <div data-v-de39c3b8="" class="navbar-fixed" style="background: rgb(247, 248, 255);">
                    <div data-v-de39c3b8="" class="navbar__content">
                        <div data-v-de39c3b8="" onclick="location.href='/mian'" class="navbar__content-left">
                            <i data-v-de39c3b8="" class="van-badge__wrapper van-icon van-icon-arrow-left"></i>
                        </div>
                        <div data-v-de39c3b8="" class="navbar__content-center"><!---->
                            <div data-v-de39c3b8="" class="navbar__content-title">Deposit history</div>
                        </div>
                        <div data-v-de39c3b8="" class="navbar__content-right"></div>
                    </div>
                </div>
            </div>
            <div data-v-3e34c735="" class="fun-tabs tabs" is-auto-load="true" activeclassname="tab_active">
                <div class="fun-tabs__tab-list" id="scroll" style=" margin-top: 15px; transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); transition-duration: 360ms; transform: translate3d(0px, 0px, 0px);">
                    <div class="fun-tab-item funtab_item activeClassName" style="color: rgb(22, 119, 255);">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                <div data-v-3e34c735="" class="tab_item tab_active">
                                    <img data-v-3e34c735="" src="/Depositerecord/img/icon/all_NS-6b2088c4.png" alt="">
                                    <span data-v-3e34c735="">All</span>
                                </div>
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tab-item funtab_item">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tab-item funtab_item">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tab-item funtab_item">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tab-item funtab_item">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tab-item funtab_item">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                
                            </div><!--v-if-->
                        </div>
                    </div>
                    <div class="fun-tabs__active-line" style="transition: all 300ms ease 0s; width: 0px; height: 3px; transform: translate3d(53.5px, 0px, 0px); background-color: rgb(22, 119, 255);">
                    </div>
                </div>
            </div><!---->
            <div data-v-3e34c735="" class="query_select">
                <div data-v-3e34c735="" class="ar-searchbar__selector">
                    <div data-v-3e34c735="" class="selectorA"><span data-v-3e34c735="" class="ar-searchbar__selector-default">All</span><i data-v-3e34c735="" class="van-badge__wrapper van-icon van-icon-arrow-down"><!----><!----><!----></i></div>
                </div>
                <div class="ar-searchbar__selector">
                    <div><span class="noSelect">Choose a date</span><i class="van-badge__wrapper van-icon van-icon-arrow-down"><!----><!----><!----></i></div>
                </div>
            </div><!----><!---->

            <div data-v-004096dd="" data-v-3e34c735="" class="infiniteScroll" id="refreshb4b7a2428f614d44a9f3e11ee6b7afd6">
                <div data-v-3e34c735="" id="data" class="rechargeh__container-content">
                
                    </div>

            <div data-v-004096dd="" data-v-3e34c735="" class="infiniteScroll" id="refreshea26982d14774479b9024c9c2e9e8f39">

                <!-- <div data-v-004096dd="" class="infiniteScroll__loading">
                    <div data-v-91f2fefc="" data-v-004096dd="" class="empty__container empty"><img data-v-91f2fefc=""
                            alt="" data-src="/Depositerecord/assets/png/empty-4ac9a431.png"
                            src="/Depositerecord/img/images/empty-4ac9a431.png" lazy="loaded">
                        <p data-v-91f2fefc="">No data</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function formateT(params) {
            let result = (params < 10) ? "0" + params : params;
            return result;
        }

        function timerJoin(params = '') {
            let date = '';
            if (params) {
                date = new Date(Number(params));
            } else {
                date = new Date();
            }
            let years = formateT(date.getFullYear());
            let months = formateT(date.getMonth() + 1);
            let days = formateT(date.getDate());

            let hours = formateT(date.getHours());
            let minutes = formateT(date.getMinutes());
            let seconds = formateT(date.getSeconds());
            return years + '-' + months + '-' + days + ' ' + hours + '-' + minutes + '-' + seconds;
        }
        function loads(datas) {
            let html = datas.map((data) => {
                return `
                <div data-v-3e34c735="" class="rechargeh__container-content__item">
                    <div data-v-3e34c735="" class="rechargeh__container-content__item-header"><span
                            data-v-3e34c735="" class="recharge_tit">Deposit</span>
                        <div data-v-3e34c735="" class="recharge_right recharge" style="color: ${(data.status == 1) ? '#21976b' : 'rgb(242, 65, 59)'}">
                            ${(data.status == 1) ? 'Successfull' : (data.status == 2) ? 'Cancelled' : 'Processing'}
                            <i data-v-3e34c735="" class="van-badge__wrapper van-icon van-icon-arrow"></i></div>
                    </div>
                    <div data-v-3e34c735="" role="separator" class="van-divider van-divider--hairline divier">
                        </div>
                    <div data-v-3e34c735="" class="rechargeh__container-content__item-body">
                        <div data-v-3e34c735=""><span data-v-3e34c735="">Balance</span><span data-v-3e34c735=""
                                class="price">₹${data.money}.00</span></div>
                        <div data-v-3e34c735=""><span data-v-3e34c735="">Type</span><span data-v-3e34c735="">${data.type}</span></div>
                        <div data-v-3e34c735=""><span data-v-3e34c735="">Time</span><span
                                data-v-3e34c735="">${timerJoin(data.time)}</span></div>
                        <div data-v-3e34c735=""><span data-v-3e34c735="">Order number</span>
                            <div data-v-3e34c735="" class="order"><span
                                    data-v-3e34c735=""> <div data-v-4e585e69="" data-clipboard-text="${data.id_order}" class="tag-read"> ${data.id_order} 
                                            <img data-v-4e585e69="" width="18px" height="15px" src="/Depositerecord/img/icon/copy-1441e76c.png" class="m-l-5">
                                        </div>
                                </span></div>
                        </div>
                    </div>
                </div>
                    `;
            })
            $('#data').html(html);
            $('.tag-read').click(function (e) {
                e.preventDefault();
                let text = $(this).text().trim();
                navigator.clipboard.writeText(text);
                $(this).addClass('block-click');
                alertMess('Copy successful', $(this));
            });
        }
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $.ajax({
            type: "GET",
            url: "/api/webapi/recharge/list",
            dataType: "json",
            success: function (response) {
                console.log(response.datas);
                if (response.datas.length == 0) return;
                loads(response.datas);
                console.log(response.datas);
            }
        });
    </script>
    <script>
			document.addEventListener('contextmenu', (e) => e.preventDefault());

                function ctrlShiftKey(e, keyCode) {
                  return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
                }
                
                document.onkeydown = (e) => {
                  // Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U
                  if (
                    event.keyCode === 123 ||
                    ctrlShiftKey(e, 'I') ||
                    ctrlShiftKey(e, 'J') ||
                    ctrlShiftKey(e, 'C') ||
                    (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
                  )
                    return false;
                };
                </script>
    <!----><!---->


</div></body></html>