<html lang="en" translate="no" data-dpr="1" style="font-size: 37.5px;" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Title -->
    <title>TC</title>
    <link rel="stylesheet" href="/Tclottery/assets/css/modules-8b01ca49.css">
    <link rel="stylesheet" href="/Tclottery/assets/css/page-activity-edd5885d.css">
    <link rel="stylesheet" href="/Tclottery/assets/css/page-home-5716c41f.css">
    <link rel="stylesheet" href="/Tclottery/assets/css/index-053c656b.css">
    <link rel="stylesheet" href="/Tclottery/assets/css/reset-7514927e.css">
    <link rel="stylesheet" href="/Tclottery/assets/css/page-home-7f8ec58c.css">
    <link rel="stylesheet" href="/page-home-684a3a25.css">
    <link rel="stylesheet" href="/css/homeimp.css">
</head>
<!-- Aap Content -->
<body style="font-size: 12px;">
    <div id="app" data-v-app="">
        <!-- Start Home Content -->
        <div data-v-f5b7f7ac="" id="home" class="content"
            style="--80613dcc: 'Roboto', 'Inter', sans-serif;">
            <div data-v-3949aac6="" data-v-f5b7f7ac="" class="navbar">
                <div data-v-3949aac6="" class="navbar-fixed"
                    style="background: linear-gradient(90deg,#72C1FF 0%,#4A77FC 100%);">
                    <div data-v-3949aac6="" class="navbar__content">
                        <div data-v-3949aac6="" class="navbar__content-left"><img data-v-f5b7f7ac=""
                                src="/Tclottery/ossimg.mravi/TC/other/h5setting_20231215032755xgv9.png"
                                alt=""></div>
                        <div data-v-3949aac6="" class="navbar__content-center"><!---->
                            <div data-v-3949aac6="" class="navbar__content-title"></div>
                        </div>
                        <div data-v-3949aac6="" class="navbar__content-right">
                            <div data-v-f5b7f7ac="" class="content_right">
                                <div data-v-f5b7f7ac="" onclick="window.location.href='/newtutorial'" class="message"><img data-v-f5b7f7ac=""
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHHSURBVHgB7Zi/TsMwEMavwA4S7FgqO0PZO5Sdgb0LOwMPgFQeAInuIMEbsMMAO0P3DuEJ6AMghTvFDo7lP3GBnkP9kz41ia7JfXFsn90ry3ITOswGdJxsgJt/a2AHdYmaoz6Z9YY6Rwlboj3LKESBT64/MFKgjuVvjWlAQJrJKwrUEWqhLpifEH02AtJFQPU51ZgtMIe0DRD09vfUid4C1HEFpE8jT9NA58gTGTfZADdrZ4DG4AvUQP76mKFGMnYWiL1CHaDOQJtlW0ETmVS/DDPR4kk3nti+FreL+nDE3Rv3nJRh6nvHtsC7ce56WwU0i65FINb3DC+5E3OzdgaGxvmJI04YsQLcheIwcO5lC+IYo7ahGhbpQYee2FvUK1Sdd+yJo/vQsvFRHkcZ0NcDAqr1QBegOaOgg9yJuckGuMkGuNENxJWxvFg3tuhiAelDk6hzZ24K6dPI0ba5+wyR0/kKobc/0C/YOvEp6gHSg2qlkXnR1gIKagWqNs2CbR/abUHSdxpaC7e5B63QKPkXW4DPgIs78FeX9NCp1J+PbLHltI+VJq74DQMsiSt+YoA1ccUyfeAavpNnn72XMZAUuRrlJhvg5gsXMzB4jB69zgAAAABJRU5ErkJggg==">
                                    <div data-v-d6fe61e8="" data-v-f5b7f7ac="" class="point point-flicker point"
                                        style="display: none;"></div>
                                </div>
                                <img data-v-f5b7f7ac=""
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE9SURBVHgB7ZcBroIwDIbLC/d4u4nvJo+bOE+iR9tNcDXFoOk2hdZC7JcsVFfG/5NuYwCO46gxjuOADfYIiZ8YQIkf0CMUYlE0DXwEN2CNG7DGDVjjBqxxA9a4AWu+14DUYWXtOH1pULx2XXep9J8p/s15J1hAvveYL5Hi1vPY/r4hrjjojEh5b5mYi2/kDTU9XAmFQnyHBpkLjiToJRjxp8qLCoX4xuI5kB8YYYGJgvgIC1m1Cr1rQlo80sNKUADWZmYSPv1+QEM8stoAwpnILc1S/uGxfkXEI2IbGVNOoRCLiUdEd2LGxDOi4hHxT4mKCXHxiMq3EGNCRTwiMok5aGInii+ghJoBRFP4hJ8HrHED1uzeQGsVOuSlMIIth1pny8Aftc3ClVCC7ZKe/+i4LDqHBtgW6RMbo+PsjStFnZ1IVwV7+gAAAABJRU5ErkJggg=="
                                    class="down" onclick="window.location.href='/TC.apk'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BANNER -->
             <div data-v-f1a9c278="" data-v-94f8731b="" class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe" style="border-radius:0.26667rem;">
                        <div class="slideshow-container">
						<div class="mySlides fade">
							<img src="/Banner/b1.jpg" style="width:100%;height:100%">
						</div>

						<div class="mySlides fade">
							<img src="/Banner/b2.jpg" style="width:100%;height:100%">
						</div>

						<div class="mySlides fade">
							<img src="/Banner/b3.jpg" style="width:100%;height:100%">
						</div>

						<div class="mySlides fade">
							<img src="/Banner/b4.jpg" style="width:100%;height:100%">
						</div>

						<div class="mySlides fade">
							<img src="/Banner/b5.jpg" style="width:100%;height:100%">
						</div>
						<div class="mySlides fade">
							<img src="/Banner/b6.jpg" style="width:100%;height:100%">
						</div>
						<div class="mySlides fade">
							<img src="/Banner/b7.jpg" style="width:100%;height:100%">
						</div>
						<div class="mySlides fade">
							<img src="/Banner/b8.jpg" style="width:100%;height:100%">
						</div>
						<div class="mySlides fade">
							<img src="/Banner/b9.jpg" style="width:100%;height:100%">
						</div>
						</div>
					<br>

					<div style="text-align:center;display:none;">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>	
				</div>
			<!-- Notice -->
            <div data-v-f5b7f7ac="" class="noticeBar__container">
                <div class="noticeBar__container-body">
                    <div class="noticeBar__container-body-text">Welcome To Diamond Tc Lottery .. </div>
                </div><button><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_589_37755)">
                            <path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"></path>
                            <path
                                d="M12 22C16.1173 22 19.4999 18.7371 19.4999 14.5491C19.4999 13.5209 19.4476 12.4187 18.8778 10.7058C18.3079 8.9929 18.1931 8.7718 17.5905 7.71395C17.333 9.8727 15.9555 10.7724 15.6055 11.0413C15.6055 10.7615 14.7722 7.66795 13.5088 5.81695C12.2685 4 10.5817 2.80796 9.59265 2C9.59265 3.53489 9.16095 5.81695 8.5427 6.9797C7.92445 8.14245 7.80835 8.1848 7.0361 9.0501C6.2639 9.9154 5.90945 10.1826 5.2637 11.2325C4.61798 12.2825 4.5 13.6809 4.5 14.7091C4.5 18.8971 7.88265 22 12 22Z"
                                fill="white"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_589_37755">
                                <rect width="24" height="24" fill="white"></rect>
                            </clipPath>
                        </defs>
                    </svg> Detail</button>
            </div>
            <!-- Game Tab -->
            <div data-v-135070b6="" data-v-f5b7f7ac="" class="home_menu">
                <div data-v-135070b6="" onclick="changeTab(this, 'lottery')" class="menu_item"><img data-v-135070b6="" class="lottery"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033613klhe.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033613klhe.png"><span
                        data-v-135070b6="">Lottery</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'slot')" class="menu_item"><img data-v-135070b6="" class="slot"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_202312150336204mtb.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_202312150336204mtb.png"><span
                        data-v-135070b6="">Slots</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'sport')" class="menu_item"><img data-v-135070b6="" class="sport"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033607yi17.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033607yi17.png"><span
                        data-v-135070b6="">Sports</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'casino')" class="menu_item"><img data-v-135070b6="" class="video"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033600k8os.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033600k8os.png"><span
                        data-v-135070b6="">Casino</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'pvc')" class="menu_item"><img data-v-135070b6="" class="chess"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033554mpgb.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033554mpgb.png"><span
                        data-v-135070b6="">PVC</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'fishing')" class="menu_item"><img data-v-135070b6="" class="fish"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033528g3gt.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_20231215033528g3gt.png"><span
                        data-v-135070b6="">Fishing</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'mini_game')" class="menu_item"><img data-v-135070b6="" class="flash"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_2023121503353389nc.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_2023121503353389nc.png"><span
                        data-v-135070b6="">Mini games</span></div>
                <div data-v-135070b6="" onclick="changeTab(this, 'popular')" class="menu_item"><img data-v-135070b6="" class="popular"
                        alt=""
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_202312150336366phx.png"
                        src="/Tclottery/ossimg.mravi/TC/gamecategory/gamecategory_202312150336366phx.png"><span
                        data-v-135070b6="">Popular</span></div>
            </div>
            <!-- Lottery -->
            <div data-v-54ceec2b="" data-v-f5b7f7ac="" class="home_container">
                <div data-v-54ceec2b="" class="title"
                    style="background-image: url(&quot;/Tclottery/assets/png/lottery-7b8f3f55.png&quot;);">
                    Lottery</div>
                <div data-v-ce53101a="" data-v-54ceec2b="" class="lottery_container">
                    <div data-v-ce53101a="" class="lotterySlotItem">
                        <div data-v-ce53101a="" class="lottery"><img data-v-ce53101a=""
                                src="/Tclottery/assets/png/XOSO_bg-33e377d7.png" alt=""
                                class="lottery_bg"><img data-v-ce53101a="" class="lottery_logo"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_202312150334238m3v.png"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_202312150334238m3v.png"><span
                                data-v-ce53101a="">Win Go</span>
                            <h4 data-v-ce53101a="">
                                <div data-v-ce53101a="">Guess Number</div>
                                <div data-v-ce53101a="">Green/Red/Purple to win</div>
                            </h4>
                        </div>
                        <div data-v-ce53101a="" class="win_info">
                            <div data-v-ce53101a="" id="1win"></div>
                        </div>
                    </div>
                    <div data-v-ce53101a="" class="lotterySlotItem">
                        <div data-v-ce53101a="" class="lottery"><img data-v-ce53101a=""
                                src="/Tclottery/assets/png/K3_bg-7ea7295a.png" alt=""
                                class="lottery_bg"><img data-v-ce53101a="" class="lottery_logo"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033442jmqv.png"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033442jmqv.png"><span
                                data-v-ce53101a="">K3 Lotre</span>
                            <h4 data-v-ce53101a="">
                                <div data-v-ce53101a="">Guess Number</div>
                                <div data-v-ce53101a="">Big/Small/Odd/Even</div>
                            </h4>
                        </div>
                        <div data-v-ce53101a="" class="win_info">
                            <div data-v-ce53101a="" id="2win"></div>
                        </div>
                    </div>
                    <div data-v-ce53101a="" class="lotterySlotItem">
                        <div data-v-ce53101a="" class="lottery"><img data-v-ce53101a=""
                                src="/Tclottery/assets/png/5D_bg-75220c52.png" alt=""
                                class="lottery_bg"><img data-v-ce53101a="" class="lottery_logo"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033448bjlv.png"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033448bjlv.png"><span
                                data-v-ce53101a="">5D Lotre</span>
                            <h4 data-v-ce53101a="">
                                <div data-v-ce53101a="">Guess Number</div>
                                <div data-v-ce53101a="">Big/Small/Odd/Even</div>
                            </h4>
                        </div>
                        <div data-v-ce53101a="" class="win_info">
                            <div data-v-ce53101a="" id="3win"></div>
                        </div>
                    </div>
                    <div data-v-ce53101a="" class="lotterySlotItem">
                        <div data-v-ce53101a="" class="lottery"><img data-v-ce53101a=""
                                src="/Tclottery/assets/png/Bingo18_bg-7db31dc0.png" alt=""
                                class="lottery_bg"><img data-v-ce53101a="" class="lottery_logo"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033454m1k3.png"
                                src="/Tclottery/ossimg.mravi/TC/lotterycategory/lotterycategory_20231215033454m1k3.png"><span
                                data-v-ce53101a="">Trx Win</span>
                            <h4 data-v-ce53101a="">
                                <div data-v-ce53101a="">Guess Number</div>
                                <div data-v-ce53101a="">Green/Red/Purple to win</div>
                            </h4>
                        </div>
                        <div data-v-ce53101a="" class="win_info">
                            <div data-v-ce53101a="" id="4win"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Winning information -->
            <div data-v-8672ccbd="" data-v-f5b7f7ac="" class="luckyWinners__container">
                <h1 data-v-8672ccbd="">Winning information</h1>
                <div data-v-8672ccbd="" class="luckyWinners__container-wrapper">
                    <div data-v-8672ccbd="" id="main_container" style="position: relative;">
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/14-a397ff6b.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***UUQ</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_20231215053732l6fa.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹600.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/13-5676d43f.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***CQF</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_20231215053732l6fa.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹600.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/13-5676d43f.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***CDM</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_20231215034022ak6f.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹95.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/3-abfcc056.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***MKE</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_202312150339081ra6.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹80.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/11-925c456e.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***JWV</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_20231215053732l6fa.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹540.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                        <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-img"><img
                                    data-v-8672ccbd="" class="ar-lazyload"
                                    src="/Tclottery/assets/png/7-00479cfa.png"></div>
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-info">
                                <h1 data-v-8672ccbd="">Mem***QGS</h1>
                            </div><img data-v-8672ccbd="" class="gameTypeImg ar-lazyload"
                                src="/Tclottery/ossimg.mravi/TC/vendorlogo/vendorlogo_20231215033931hy14.png">
                            <div data-v-8672ccbd="" class="luckyWinners__container-wrapper__item-winAmount">
                                <h1 data-v-8672ccbd="">Receive ₹170.00</h1><span data-v-8672ccbd="">Winning
                                    amount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Today Earning Chart -->
            <div data-v-6aaefe19="" data-v-f5b7f7ac="" class="dailyProfitRank">
                <h1 data-v-6aaefe19="">Today's earnings chart</h1>
                <div data-v-6aaefe19="" class="dailyProfitRank__content">
                    <div data-v-6aaefe19="" class="dailyProfitRank__content-topThree">
                        <div data-v-6aaefe19="" class="dailyProfitRank__content-topThree__item"
                            style="order: 2; top: -45px;">
                            <div data-v-6aaefe19=""
                                style="background: url(&quot;/Tclottery/assets/png/border1-3b6518ec.png&quot;) center center / 100% 100% no-repeat;">
                                <img data-v-6aaefe19=""
                                    data-img="/Tclottery/assets/png/avatar-ea3b8ee9.png" class=""
                                    src="/Tclottery/assets/png/14-a397ff6b.png"
                                    src="/Tclottery/assets/png/14-a397ff6b.png"></div>
                            <div data-v-6aaefe19=""><img data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/crown1-3912fd85.png"
                                    src="/Tclottery/assets/png/crown1-3912fd85.png"><img
                                    data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/place1-fe39c3f3.png"
                                    src="/Tclottery/assets/png/place1-fe39c3f3.png"></div><span
                                data-v-6aaefe19="">Mem***DBR</span><span data-v-6aaefe19="">₹1,091,324,080.00</span>
                        </div>
                        <div data-v-6aaefe19="" class="dailyProfitRank__content-topThree__item"
                            style="order: 1; top: -30px;">
                            <div data-v-6aaefe19=""
                                style="background: url(&quot;/Tclottery/assets/png/border2-7a806be7.png&quot;) center center / 100% 100% no-repeat;">
                                <img data-v-6aaefe19=""
                                    data-img="/Tclottery/assets/png/avatar-ea3b8ee9.png" class=""
                                    src="/Tclottery/assets/png/1-a6662edb.png"
                                    src="/Tclottery/assets/png/1-a6662edb.png"></div>
                            <div data-v-6aaefe19=""><img data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/crown2-c8aced52.png"
                                    src="/Tclottery/assets/png/crown2-c8aced52.png"><img
                                    data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/place2-8189be28.png"
                                    src="/Tclottery/assets/png/place2-8189be28.png"></div><span
                                data-v-6aaefe19="">Mem***ZWU</span><span data-v-6aaefe19="">₹976,053,685.04</span>
                        </div>
                        <div data-v-6aaefe19="" class="dailyProfitRank__content-topThree__item"
                            style="order: 3; top: -30px;">
                            <div data-v-6aaefe19=""
                                style="background: url(&quot;/Tclottery/assets/png/border3-cfec4a7d.png&quot;) center center / 100% 100% no-repeat;">
                                <img data-v-6aaefe19=""
                                    data-img="/Tclottery/assets/png/avatar-ea3b8ee9.png" class=""
                                    src="/Tclottery/assets/png/14-a397ff6b.png"
                                    src="/Tclottery/assets/png/14-a397ff6b.png"></div>
                            <div data-v-6aaefe19=""><img data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/crown3-2ca02146.png"
                                    src="/Tclottery/assets/png/crown3-2ca02146.png"><img
                                    data-v-6aaefe19="" class=""
                                    src="/Tclottery/assets/png/place3-d9b0be38.png"
                                    src="/Tclottery/assets/png/place3-d9b0be38.png"></div><span
                                data-v-6aaefe19="">Mem***WUV</span><span data-v-6aaefe19="">₹529,732,320.32</span>
                        </div>
                    </div>
                    <div data-v-6aaefe19="" class="dailyProfitRank__content-list">
                        <div data-v-6aaefe19="" class="dailyProfitRank__content-list__item"><span
                                data-v-6aaefe19="" class="left-rank">4</span><img data-v-6aaefe19=""
                                data-img="/Tclottery/assets/png/avatar-ea3b8ee9.png" class=""
                                src="/Tclottery/assets/png/12-ae12c679.png"
                                src="/Tclottery/assets/png/12-ae12c679.png"><span data-v-6aaefe19=""
                                class="middle-name">Mem***KCR</span><span data-v-6aaefe19=""
                                class="right-box">₹400,518,552.00</span></div>
                        <div data-v-6aaefe19="" class="dailyProfitRank__content-list__item"><span
                                data-v-6aaefe19="" class="left-rank">5</span><img data-v-6aaefe19=""
                                data-img="/Tclottery/assets/png/avatar-ea3b8ee9.png" class=""
                                src="/Tclottery/assets/png/18-52955242.png"
                                src="/Tclottery/assets/png/18-52955242.png"><span data-v-6aaefe19=""
                                class="middle-name">Mem***FZB</span><span data-v-6aaefe19=""
                                class="right-box">₹201,013,190.00</span></div>
                    </div>
                </div>
            </div>
        <!-- Customer Services -->
        <div onclick="window.location.href='/KeFuMenu'" class="customer" id="customerId"
            style="--80613dcc: 'Roboto', 'Inter', sans-serif; --17a7a9f6: bahnschrift;">
            <img class="" src="https://goagame.com/assets/svg/changlong-7724db4a.svg" style="margin-top: 24px;">
            <img class="" src="/assets/png/icon_sevice-6273af5a.png" style="margin-top: 9px;">
        </div>
        
        
        <div data-v-6730d638="" class="tabbar__container" style="--80613dcc: 'Roboto', 'Inter', sans-serif;">
        <!-- Bottom Navbar -->
        <div data-v-6730d638="" class="tabbar__container" style="--80613dcc: 'Roboto', 'Inter', sans-serif;">
        <!-- Home -->
        <div data-v-6730d638="" onclick="window.location.href='/home'" class="tabbar__container-item active">
        <div data-v-6730d638="" class="home">Home</div>
        </div>
        <!-- Activity -->
        <div data-v-6730d638="" onclick="window.location.href='/CheckIn'" class="tabbar__container-item">
        <div data-v-6730d638="" class="activity">Activity</div>
        </div>
        <!-- Promotion -->
        <div data-v-6730d638="" class="tabbar__container-item">
        <div data-v-6730d638="" onclick="window.location.href='/promotion'" class="promotion">Promotion</div>
        </div>
        <!-- Wallet -->
        <div data-v-6730d638="" onclick="window.location.href='/wallet'" class="tabbar__container-item">
        <div data-v-6730d638="" class="wallet">Wallet</div>
        </div>
        <!-- Mian Account -->
        <div data-v-6730d638="" onclick="window.location.href='/mian'" class="tabbar__container-item">
        <div data-v-6730d638="" class="main">Account</div>
        </div>
        </div>
        <!-- Alert Mess -->
        <div role="dialog" tabindex="0" class="van-popup van-popup--center van-toast van-toast--middle van-toast--success" style="z-index: 2001; display: none;"><i class="van-badge__wrapper van-icon van-icon-success van-toast__icon"></i>
        <div class="van-toast__text">Copy successful</div>
        </div></div>
       
    <!-- Js Content -->
    <div class="van-overlay" style="z-index: 2001;">
    </div>
    <container id="my-app-container"></container>
    <script src="/Tclottery/jquery-3.6.0.min.js"></script>
    <script src="/js/fuckh.js"></script>
    <script>
        $('.van-overlay').fadeOut()
    </script>
        
</body>
</html>
