<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 40px;">
<head>
    <link rel="icon" type="image/svg+xml" href="https://inbofa999.com/static/_template_/blue_horizontal/img/pay_icon_mobile_red.svg">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TC</title>
    <link rel="stylesheet" href="https://biglottery.games/index_files/index-96409872.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/modules-96c1e775.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/page-activity-d48e62db.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/page-home-58543d87.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/page-login-ef3d1f88.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/page-main-ff2e7571.css">
    <link rel="stylesheet" href="https://biglottery.games/index_files/index-98687087.css">

    <style>
        .curtain {
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: 600px) {
          .curtain {
            width: 100%;
          }
        }

        .curtain img {
            width: 100%;
        }

        .md-text {
            font-size: 20px;
            color: #fff;
            text-align: center;
            margin-top: 20px;
        }

        .md-title {
            width: 100%;
            max-width: 300px;
            margin-top: -80px;
        }

        .gradient-div {
            background: linear-gradient(90deg, #72C1FF 0%, #4A77FC 100%);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            overflow: hidden;
        }

        .hidden {
            transition: opacity 1s ease-out;
            opacity: 0;
            pointer-events: none;
        }
        .d-none{
            display: none;
        }
    </style>
</head>

<body style="font-size: 12px">
    <div class="curtain gradient-div" id="preloader-overlay">
        <div>
            <img src="/damangame.png" alt="loading">
            <h2 class="md-text">WITHDRAWAL SAFE FAST AND STABLE</h2>
        </div>
        <img src="/Tclottery/ossimg.mravi/TC/other/h5setting_20231215032755xgv9.png" class="md-title" alt="loading">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                window.location.href = 'https://9987co.in/home';
            }, 1000);
        });
    </script>
    <script>
			document.addEventListener('contextmenu', (e) => e.preventDefault());

                function ctrlShiftKey(e, keyCode) {
                  return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
                }
                
                document.onkeydown = (e) => {
                  // Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U
                  if (
                    event.keyCode === 123 ||
                    ctrlShiftKey(e, 'I') ||
                    ctrlShiftKey(e, 'J') ||
                    ctrlShiftKey(e, 'C') ||
                    (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
                  )
                    return false;
                };
                </script>
</body>
</html>
